{% extends 'base.html' %}

{% block title %}Display/Edit Pet{% endblock %}

{% block content %}
    <di class="container">
        <h1 class="display-2 text-center">{{pet.name}}</h1>
        <div class="row text-center">
        <ul>
            <img src="{{pet.photo_url}}" class="border rounded border-dark border-3">
            <div class="container">
                <p>{{pet.name}} is a {{pet.species}} and is {{pet.age}} years old</p>
            </div>
        </ul>
        </div>
    </div>
    <div class="container">
        <h2 class="display-2 text-center">Edit Pet</h2>
        <div class="input-group justify-content-center border rounded border-dark border-2 .bg-light ">
            <form method="POST" class=".bg-light">
                {{ form.hidden_tag() }}
                {% for field in form if field.widget.input_type != 'hidden' %}
                {% if type == checkbox %}
                    <div class="form-group input-center">
                        {{field.label}}
                        {{field(class="form-check")}}
                {% else %} 
                    <div class="form-group">
                        {{field.label}}
                        {{field(class="form-control")}}
                {% endif %}
                    
                    {% for err in field.errors %}
                    <small class="form-text text-danger">
                    {{err}}
                    </small>
                    {% endfor %}
                </div>
                {% endfor %}
                <button class="btn btn-success">Submit</button>
                <a href="/" class="btn btn-danger">Go Back</a>
            </form>
        </div>
    </div>
{% endblock %}